/* Standard JavaFX stylesheet for Enigma */
.root {
    -fx-background-color: azure;
}
.label {
    -fx-text-fill: midnightblue;
}
.button {
   -fx-background-color: steelblue;
   -fx-text-fill: azure;
}
.radio-button {
     -fx-padding: 6;
}
.descriptionpane {
    -fx-background-color: blanchedalmond;
}
.descriptiontext {
    -fx-text-alignment: center;
}
.titlepane {
    -fx-background-color: steelblue;
}
.titletext {
    -fx-font-size: 28;
    -fx-text-fill: blanchedalmond;
    -fx-alignment: center;
}
.subtitletext {
    -fx-font-size: 20;
    -fx-text-fill: steelblue;
    -fx-alignment: center;
}
.error {
  -fx-control-inner-background: yellow;
}
.fixed {
  -fx-control-inner-background: white;
}
