/* Standard JavaFX stylesheet for Enigma */
.root {
    -fx-background-color: azure;
}
.label {
    -fx-text-fill: midnightblue;
}
.button {
   -fx-text-fill: midnightblue;
}
.radio-button {
     -fx-padding: 6;
}
.check-box {
    -fx-padding: 4;
    -fx-text-fill: midnightblue;
    -fx-background-color: blanchedalmond;
}
.descriptionpane {
    -fx-background-color: blanchedalmond;
}
.descriptiontext {
    -fx-text-alignment: center;
}
.helppane {
    -fx-background-color: lightcyan;
}
.titlepane {
    -fx-background-color: steelblue;
}
.subtitlepane {
    -fx-background-color: blanchedalmond;
}
.errorpane {
    -fx-background-color: yellow;
}
.titletext {
    -fx-font-size: 28;
    -fx-text-fill: blanchedalmond;
    -fx-alignment: center;
}
.errortitletext {
    -fx-font-size: 28;
    -fx-text-fill: red;
    -fx-alignment: center;
}
.subtitletext {
    -fx-font-size: 20;
    -fx-text-fill: steelblue;
    -fx-alignment: center;
}
.inputpane {
     -fx-background-color: blanchedalmond;
}
.inputdefault {
    -fx-background-radius:5;
}
.inputerror {
    -fx-background-radius:5;
}
error {
    -fx-control-inner-background: yellow;
}

